<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style_controle.css">
    <title>ADICIONAR</title>
    <link rel="icon" href="static/download.png">
</head>
<body>

    <!--NAV BAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow" style="background-color: #192A6B !important;">
        <div class="container">


            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/controle">Estoque</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/movimentacao">Movimentação</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Adicionar novos itens</a>
                    </li>


                </ul>
            </div>

        </div>
    </nav>
    
    <img id="logo_navbar" src="/static/SENAI.png">
    


    <br>   
<br>

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header text-white" style="background-color: #192A6B;">
            <h3> Adicionar Itens</h3>
        </div>

        <div class="card-body">

            <form>

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Nome do Item</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label class="form-label">Código</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label class="form-label">Categoria</label>

                        <select class="form-select">
                            <option>Selecione</option>
                            <option>Ferramentas</option>
                            <option>Elétrica</option>
                            <option>Escritório</option>
                            <option>Limpeza</option>
                        </select>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3 mb-3">
                        <label class="form-label">Quantidade</label>
                        <input type="number" class="form-control">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label class="form-label">Unidade</label>

                        <select class="form-select">
                            <option>UN</option>
                            <option>KG</option>
                            <option>M</option>
                            <option>CX</option>
                        </select>

                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Localização</label>
                        <input type="text" class="form-control">
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Fornecedor</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label class="form-label">Valor Unitário</label>
                        <input type="number" class="form-control">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label class="form-label">Foto</label>
                        <input type="file" class="form-control">
                    </div>

                </div>

                <div class="mb-3">

                    <label class="form-label">Descrição</label>

                    <textarea
                        class="form-control"
                        rows="4">
                    </textarea>

                </div>

                <div class="text-end">

                    <button class="btn btn-secondary">
                        Cancelar
                    </button>

                    <button class="btn btn-foto"
                        data-bs-toggle="modal"
                        data-bs-target="#foto1">
                        Salvar Item
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

</body>
</html>